/* Style général */
body {
    margin: 0;
    font-family: Arial, sans-serif;
  }
  
  /* Header */
  header {
    background-color: #444444; /* Couleur de fond du header */
    padding: 0px 0;       /* Espace vertical autour des rectangles */
    display: flex;
    justify-content: flex-start; /* Alignement à gauche */
  }
  
  /* Rectangles */
  .nav {
    display: flex; /* Organisation des rectangles en ligne */
    gap: 0px;     /* Espacement entre les rectangles */
  }
  
  .rect {
    display: block;
    width: 100px;
    height: 50px;
    background-color: #444444;  /* Couleur de fond des rectangles */
    color: white;            /* Couleur du texte */
    text-align: center;      /* Centrer le texte horizontalement */
    line-height: 50px;       /* Centrer le texte verticalement */
    text-decoration: none;   /* Supprimer le soulignement des liens */
    transition: background-color 0.3s; /* Effet de transition sur le survol */
  }
  
  /* Effet au survol */
  .rect:hover {
    background-color: #777; /* Changer la couleur au survol */
  }